openapi: 3.1.0
info:
  title: Dataspace Backend API
  description: |
    Complete API documentation for the Dataspace Backend - a data exchange and verification service provider.
    Uses self-sovereign identity, verifiable credentials, and digital wallet technologies for data regulation compliance.
  version: 2024.3.1
  contact:
    name: iGrant.io
    email: support@igrant.io
    url: https://igrant.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.nxd.foundation
    description: Live server

tags:
  - name: onboard
    description: Authentication and registration endpoints
  - name: config
    description: Organisation admin endpoints for managing settings, DDAs, and connections
  - name: organisation
    description: Organisation management and identity endpoints
  - name: service
    description: Public endpoints for data marketplace services
  - name: webhook
    description: Webhook endpoints for external integrations

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token passed with Bearer prefix in Authorization header
    BasicAuth:
      type: http
      scheme: basic
      description: Basic authentication for OAuth2 client credentials flow

  schemas:
    # ==================== Common Schemas ====================
    Pagination:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        totalItems:
          type: integer
          description: Total number of items available
        totalPages:
          type: integer
          description: Total number of pages based on limit
        limit:
          type: integer
          description: Number of items per page
        hasPrevious:
          type: boolean
          description: Indicates if there's a previous page
        hasNext:
          type: boolean
          description: Indicates if there's a next page

    Error:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string

    # ==================== User & Auth Schemas ====================
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        name:
          type: string

    TokenResponse:
      type: object
      properties:
        access:
          type: string
          description: JWT access token
        refresh:
          type: string
          description: JWT refresh token

    OAuth2TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token expiration time in seconds

    # ==================== Organisation Schemas ====================
    Organisation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        sector:
          type: string
        location:
          type: string
        description:
          type: string
        policyUrl:
          type: string
          format: uri
        coverImageUrl:
          type: string
          format: uri
        logoUrl:
          type: string
          format: uri
        openApiUrl:
          type: string
          format: uri
        verificationRequestURLPrefix:
          type: string
        credentialOfferEndpoint:
          type: string
        accessPointEndpoint:
          type: string
        privacyDashboardUrl:
          type: string
        codeOfConduct:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrganisationIdentity:
      type: object
      properties:
        organisationalIdentity:
          type: object
        organisationId:
          type: string
        presentationExchangeId:
          type: string
        state:
          type: string
        verified:
          type: boolean

    SoftwareStatement:
      type: object
      properties:
        softwareStatement:
          type: object
        organisationId:
          type: string
        credentialExchangeId:
          type: string
        status:
          type: string

    Sector:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sectorName:
          type: string

    # ==================== OAuth2 Client Schemas ====================
    OAuth2Client:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        is_active:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OAuth2ClientCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string

    OrganisationOAuth2Client:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ==================== B2B Connection Schemas ====================
    B2BConnection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organisationId:
          type: string
          format: uuid
        b2bConnectionId:
          type: string
        b2bConnectionRecord:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ==================== DDA Schemas ====================
    DataController:
      type: object
      properties:
        did:
          type: string
        name:
          type: string
        legalId:
          type: string
        url:
          type: string
        industrySector:
          type: string

    DataSharingRestriction:
      type: object
      properties:
        policyUrl:
          type: string
        jurisdiction:
          type: string
        industrySector:
          type: string
        dataRetentionPeriod:
          type: number
        geographicRestriction:
          type: string
        storageLocation:
          type: string

    PersonalData:
      type: object
      properties:
        attributeId:
          type: string
        attributeName:
          type: string
        attributeSensitive:
          type: string
        attributeCategory:
          type: string
        attributeDescription:
          type: string

    DataDisclosureAgreement:
      type: object
      properties:
        language:
          type: string
        version:
          type: string
        templateId:
          type: string
        templateVersion:
          type: string
        dataController:
          $ref: "#/components/schemas/DataController"
        agreementPeriod:
          type: number
        dataSharingRestrictions:
          $ref: "#/components/schemas/DataSharingRestriction"
        purpose:
          type: string
        purposeDescription:
          type: string
        lawfulBasis:
          type: string
        personalData:
          type: array
          items:
            $ref: "#/components/schemas/PersonalData"
        codeOfConduct:
          type: string
        status:
          $ref: "#/components/schemas/DDAStatus"

    DDAStatus:
      type: string
      enum:
        - unlisted
        - awaitingForApproval
        - approved
        - rejected
        - listed
        - archived

    DataDisclosureAgreementTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organisationId:
          type: string
          format: uuid
        templateId:
          type: string
        version:
          type: string
        dataDisclosureAgreementRecord:
          type: object
        status:
          $ref: "#/components/schemas/DDAStatus"
        isLatestVersion:
          type: boolean
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DataDisclosureAgreementRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organisationId:
          type: string
          format: uuid
        dataDisclosureAgreementRecord:
          type: object
        dataDisclosureAgreementTemplateId:
          type: string
        dataDisclosureAgreementTemplateRevisionId:
          type: string
        dataDisclosureAgreementRecordId:
          type: string
        optIn:
          type: boolean
        state:
          type: string
          enum:
            - signed
            - unsigned
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # ==================== Connection Schemas ====================
    Connection:
      type: object
      properties:
        id:
          type: string
        connectionId:
          type: string
        connectionRecord:
          type: object
        connectionState:
          type: string
        dataSourceId:
          type: string

    CreateConnectionResponse:
      type: object
      properties:
        connection:
          type: object
          properties:
            connectionId:
              type: string
            invitation:
              type: object
              properties:
                "@type":
                  type: string
                "@id":
                  type: string
                serviceEndpoint:
                  type: string
                label:
                  type: string
                imageUrl:
                  type: string
                recipientKeys:
                  type: array
                  items:
                    type: string
            invitationUrl:
              type: string
        firebaseDynamicLink:
          type: string

    # ==================== Verification Schemas ====================
    Verification:
      type: object
      properties:
        id:
          type: string
        dataSourceId:
          type: string
        presentationExchangeId:
          type: string
        presentationState:
          type: string
        presentationRecord:
          type: object

    # ==================== Discovery Schemas ====================
    DataSpaceConfiguration:
      type: object
      properties:
        data_space_endpoint:
          type: string
        authorization_servers:
          type: array
          items:
            type: string
        notification_endpoint:
          type: string

    OAuthAuthorizationServerMetadata:
      type: object
      properties:
        issuer:
          type: string
        token_endpoint:
          type: string

    # ==================== Notification Schemas ====================
    NotificationPayload:
      type: object
      required:
        - type
        - event
      properties:
        type:
          type: string
          enum:
            - dda_template
            - dda_record
            - b2b_connection
        event:
          type: string
          enum:
            - create
            - update
            - delete
        dataDisclosureAgreementTemplate:
          type: object
        dataDisclosureAgreementRecord:
          type: object
        b2bConnection:
          type: object

    # ==================== Search Schemas ====================
    SearchResponse:
      type: object
      properties:
        organisations:
          type: array
          items:
            $ref: "#/components/schemas/OrganisationSummary"
        organisationsPagination:
          $ref: "#/components/schemas/Pagination"
        ddas:
          type: array
          items:
            type: object
        ddasPagination:
          $ref: "#/components/schemas/Pagination"
        searchMeta:
          type: object
          properties:
            query:
              type: string
            searchOrgName:
              type: boolean
            searchDdaPurpose:
              type: boolean
            searchDdaDescription:
              type: boolean
            searchDataset:
              type: boolean
            searchTags:
              type: boolean
            sortBy:
              type: string
            sortOrder:
              type: string

    OrganisationSummary:
      type: object
      properties:
        dataDisclosureAgreements:
          type: array
          items:
            type: object
        api:
          type: array
          items:
            type: string
        organisation:
          $ref: "#/components/schemas/Organisation"
        organisationIdentity:
          type: object

  parameters:
    OffsetParam:
      name: offset
      in: query
      description: Requested index for start of resources
      required: false
      schema:
        type: integer
        default: 0

    LimitParam:
      name: limit
      in: query
      description: Number of items returned per page
      required: false
      schema:
        type: integer
        default: 10

    UUIDPathParam:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

paths:
  # ==================== ONBOARD ENDPOINTS ====================
  /onboard/login/:
    post:
      tags:
        - onboard
      summary: Login
      description: Login as data source organisation admin
      operationId: onboardLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Invalid credentials
        "403":
          description: Admin users not allowed

  /onboard/register/:
    post:
      tags:
        - onboard
      summary: Register
      description: Register a new organisation admin with their organisation
      operationId: onboardRegister
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - confirmPassword
                - organisation
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                confirmPassword:
                  type: string
                  format: password
                openApiUrl:
                  type: string
                organisation:
                  type: object
                  required:
                    - name
                    - sector
                    - location
                    - policyUrl
                    - description
                  properties:
                    name:
                      type: string
                    sector:
                      type: string
                    location:
                      type: string
                    policyUrl:
                      type: string
                    description:
                      type: string
                    verificationRequestURLPrefix:
                      type: string
      responses:
        "201":
          description: Successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
                  organisation:
                    $ref: "#/components/schemas/Organisation"
        "400":
          description: Invalid request

  /onboard/token/refresh/:
    post:
      tags:
        - onboard
      summary: Refresh token
      description: Refresh the access token using a refresh token
      operationId: onboardRefreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh
              properties:
                refresh:
                  type: string
      responses:
        "200":
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string

  /onboard/sectors/:
    get:
      tags:
        - onboard
      summary: List sectors
      description: Get list of available industry sectors
      operationId: onboardListSectors
      security: []
      responses:
        "200":
          description: List of sectors
          content:
            application/json:
              schema:
                type: object
                properties:
                  sectors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Sector"

  /onboard/code-of-conduct/:
    get:
      tags:
        - onboard
      summary: Download code of conduct
      description: Download the latest active code of conduct PDF
      operationId: onboardGetCodeOfConduct
      security: []
      responses:
        "200":
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: No active code of conduct available

  # ==================== CONFIG ENDPOINTS ====================
  /config/admin/:
    get:
      tags:
        - config
      summary: Read admin
      description: Get current admin details
      operationId: configReadAdmin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Admin details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

    put:
      tags:
        - config
      summary: Update admin
      description: Update admin details
      operationId: configUpdateAdmin
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Updated admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

  /config/admin/reset-password/:
    post:
      tags:
        - config
      summary: Reset password
      description: Change the admin password
      operationId: configResetPassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - old_password
                - new_password1
                - new_password2
              properties:
                old_password:
                  type: string
                new_password1:
                  type: string
                new_password2:
                  type: string
      responses:
        "200":
          description: Password changed

  /config/admin/reset/:
    post:
      tags:
        - config
      summary: Reset connections and verifications
      description: Delete all connections and verifications (admin reset)
      operationId: configAdminReset
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Reset successful
        "400":
          description: Error occurred

  /config/data-source/:
    get:
      tags:
        - config
      summary: Read data source
      description: Get the data source details for the organisation admin
      operationId: configReadDataSource
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Data source details
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSource:
                    $ref: "#/components/schemas/Organisation"
                  verification:
                    $ref: "#/components/schemas/Verification"

    post:
      tags:
        - config
      summary: Create data source
      description: Create a new data source
      operationId: configCreateDataSource
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: object
                  properties:
                    name:
                      type: string
                    location:
                      type: string
                    description:
                      type: string
                    policyUrl:
                      type: string
      responses:
        "200":
          description: Created data source
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSource:
                    $ref: "#/components/schemas/Organisation"
                  verification:
                    $ref: "#/components/schemas/Verification"

    put:
      tags:
        - config
      summary: Update data source
      description: Update existing data source
      operationId: configUpdateDataSource
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: object
                  properties:
                    name:
                      type: string
                    location:
                      type: string
                    description:
                      type: string
                    policyUrl:
                      type: string
      responses:
        "202":
          description: Updated data source
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSource:
                    $ref: "#/components/schemas/Organisation"
                  verification:
                    $ref: "#/components/schemas/Verification"

  /config/data-source/coverimage/:
    get:
      tags:
        - config
      summary: Get data source cover image
      operationId: configReadDataSourceCoverImage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Cover image
          content:
            image/*:
              schema:
                type: string
                format: binary

    put:
      tags:
        - config
      summary: Update data source cover image
      operationId: configUpdateDataSourceCoverImage
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - orgimage
              properties:
                orgimage:
                  type: string
                  format: binary
      responses:
        "200":
          description: Updated

  /config/data-source/logoimage/:
    get:
      tags:
        - config
      summary: Get data source logo image
      operationId: configReadDataSourceLogoImage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Logo image
          content:
            image/*:
              schema:
                type: string
                format: binary

    put:
      tags:
        - config
      summary: Update data source logo image
      operationId: configUpdateDataSourceLogoImage
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - orgimage
              properties:
                orgimage:
                  type: string
                  format: binary
      responses:
        "200":
          description: Updated

  /config/data-source/verification/:
    get:
      tags:
        - config
      summary: Read verification
      description: Get verification status for data source
      operationId: configReadVerification
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Verification details
          content:
            application/json:
              schema:
                type: object
                properties:
                  verification:
                    $ref: "#/components/schemas/Verification"

    post:
      tags:
        - config
      summary: Create verification
      description: Send verification request to connected wallet
      operationId: configCreateVerification
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Verification created
          content:
            application/json:
              schema:
                type: object
                properties:
                  verification:
                    $ref: "#/components/schemas/Verification"

  /config/open-api/url:
    put:
      tags:
        - config
      summary: Update Open API URL
      operationId: configUpdateOpenApiUrl
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: object
                  properties:
                    openApiUrl:
                      type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSource:
                    $ref: "#/components/schemas/Organisation"

  /config/verification/templates:
    get:
      tags:
        - config
      summary: List verification templates
      operationId: configListVerificationTemplates
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  verificationTemplates:
                    type: array
                    items:
                      type: object
                      properties:
                        verificationTemplateName:
                          type: string
                        walletName:
                          type: string
                        walletLocation:
                          type: string
                        issuerName:
                          type: string
                        issuerLocation:
                          type: string
                        issuerLogoUrl:
                          type: string

  /config/connection/:
    post:
      tags:
        - config
      summary: Create connection
      description: Establish connection with data intermediary
      operationId: configCreateConnection
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Connection created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateConnectionResponse"

  /config/connections/:
    get:
      tags:
        - config
      summary: List connections
      operationId: configListConnections
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  /config/connection/{connectionId}/:
    delete:
      tags:
        - config
      summary: Delete connection
      operationId: configDeleteConnection
      security:
        - BearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted

  /config/data-disclosure-agreements/:
    get:
      tags:
        - config
      summary: List data disclosure agreements
      operationId: configListDDAs
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/DDAStatus"
      responses:
        "200":
          description: List of DDAs
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataDisclosureAgreements:
                    type: array
                    items:
                      $ref: "#/components/schemas/DataDisclosureAgreementTemplate"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  /config/data-disclosure-agreement/{dataDisclosureAgreementId}/:
    get:
      tags:
        - config
      summary: Read data disclosure agreement
      operationId: configReadDDA
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: query
          schema:
            type: string
      responses:
        "200":
          description: DDA details
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataDisclosureAgreement:
                    $ref: "#/components/schemas/DataDisclosureAgreementTemplate"

    delete:
      tags:
        - config
      summary: Delete data disclosure agreement
      operationId: configDeleteDDA
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deleted

  /config/data-disclosure-agreement/{dataDisclosureAgreementId}/status/:
    put:
      tags:
        - config
      summary: Update DDA status
      operationId: configUpdateDDAStatus
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/DDAStatus"
      responses:
        "204":
          description: Updated

  /config/data-disclosure-agreement/{dataDisclosureAgreementId}/tags/:
    put:
      tags:
        - config
      summary: Update DDA tags
      operationId: configUpdateDDATags
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Updated

  /config/data-disclosure-agreement/{dataDisclosureAgreementId}/history/:
    get:
      tags:
        - config
      summary: List DDA history
      operationId: configListDDAHistory
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of history records
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  /config/data-disclosure-agreement/{dataDisclosureAgreementId}/history/{historyId}/:
    delete:
      tags:
        - config
      summary: Delete DDA history entry
      operationId: configDeleteDDAHistory
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
        - name: historyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted

  # ==================== ORGANISATION ENDPOINTS ====================
  /config/organisation/:
    get:
      tags:
        - organisation
      summary: Read organisation
      operationId: organisationRead
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Organisation details
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisation:
                    $ref: "#/components/schemas/Organisation"

    put:
      tags:
        - organisation
      summary: Update organisation
      operationId: organisationUpdate
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organisation:
                  type: object
                  properties:
                    name:
                      type: string
                    sector:
                      type: string
                    location:
                      type: string
                    description:
                      type: string
                    policyUrl:
                      type: string
                    verificationRequestURLPrefix:
                      type: string
                    openApiUrl:
                      type: string
                    credentialOfferEndpoint:
                      type: string
                    accessPointEndpoint:
                      type: string
                    privacyDashboardUrl:
                      type: string
      responses:
        "202":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisation:
                    $ref: "#/components/schemas/Organisation"

  /config/organisation/code-of-conduct:
    put:
      tags:
        - organisation
      summary: Update code of conduct acceptance
      operationId: organisationUpdateCodeOfConduct
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                codeOfConduct:
                  type: boolean
      responses:
        "202":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisation:
                    $ref: "#/components/schemas/Organisation"

  /config/organisation/coverimage/:
    get:
      tags:
        - organisation
      summary: Get organisation cover image
      operationId: organisationReadCoverImage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary

    put:
      tags:
        - organisation
      summary: Update organisation cover image
      operationId: organisationUpdateCoverImage
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - orgimage
              properties:
                orgimage:
                  type: string
                  format: binary
      responses:
        "200":
          description: Updated

  /config/organisation/logoimage/:
    get:
      tags:
        - organisation
      summary: Get organisation logo image
      operationId: organisationReadLogoImage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary

    put:
      tags:
        - organisation
      summary: Update organisation logo image
      operationId: organisationUpdateLogoImage
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - orgimage
              properties:
                orgimage:
                  type: string
                  format: binary
      responses:
        "200":
          description: Updated

  /config/organisation/identity/:
    get:
      tags:
        - organisation
      summary: Read organisation identity
      operationId: organisationReadIdentity
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Identity details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisationIdentity"

    post:
      tags:
        - organisation
      summary: Create organisation identity verification
      operationId: organisationCreateIdentity
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Verification initiated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisationIdentity"

    delete:
      tags:
        - organisation
      summary: Delete organisation identity
      operationId: organisationDeleteIdentity
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Deleted
        "404":
          description: Not found

  /config/organisation/software-statement/:
    get:
      tags:
        - organisation
      summary: Read software statement
      operationId: organisationReadSoftwareStatement
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Software statement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareStatement"

    post:
      tags:
        - organisation
      summary: Create software statement
      operationId: organisationCreateSoftwareStatement
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareStatement"

    delete:
      tags:
        - organisation
      summary: Delete software statement
      operationId: organisationDeleteSoftwareStatement
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Deleted
        "404":
          description: Not found

  # ==================== OAUTH2 CLIENT ENDPOINTS (INTERNAL) ====================
  /config/organisation/oauth2-client/:
    post:
      tags:
        - organisation
      summary: Create OAuth2 client
      operationId: organisationCreateOAuth2Client
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2ClientCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  oAuth2Client:
                    $ref: "#/components/schemas/OAuth2Client"
        "400":
          description: Duplicate name

  /config/organisation/oauth2-client/{id}/:
    get:
      tags:
        - organisation
      summary: Read OAuth2 client
      operationId: organisationReadOAuth2Client
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Client details
          content:
            application/json:
              schema:
                type: object
                properties:
                  oAuth2Client:
                    $ref: "#/components/schemas/OAuth2Client"

    put:
      tags:
        - organisation
      summary: Update OAuth2 client
      operationId: organisationUpdateOAuth2Client
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2ClientCreate"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  oAuth2Client:
                    $ref: "#/components/schemas/OAuth2Client"

    delete:
      tags:
        - organisation
      summary: Delete OAuth2 client
      operationId: organisationDeleteOAuth2Client
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted

  /config/organisation/oauth2-clients/:
    get:
      tags:
        - organisation
      summary: List OAuth2 clients
      operationId: organisationListOAuth2Clients
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  oAuth2Clients:
                    type: array
                    items:
                      $ref: "#/components/schemas/OAuth2Client"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  # ==================== OAUTH2 CLIENT ENDPOINTS (EXTERNAL) ====================
  /config/organisation/oauth2-client-external/:
    post:
      tags:
        - organisation
      summary: Create external OAuth2 client
      operationId: organisationCreateExternalOAuth2Client
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisationOAuth2Client:
                    $ref: "#/components/schemas/OrganisationOAuth2Client"

  /config/organisation/oauth2-client-external/{id}/:
    get:
      tags:
        - organisation
      summary: Read external OAuth2 client
      operationId: organisationReadExternalOAuth2Client
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Client details
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisationOAuth2Client:
                    $ref: "#/components/schemas/OrganisationOAuth2Client"

    put:
      tags:
        - organisation
      summary: Update external OAuth2 client
      operationId: organisationUpdateExternalOAuth2Client
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisationOAuth2Client:
                    $ref: "#/components/schemas/OrganisationOAuth2Client"

    delete:
      tags:
        - organisation
      summary: Delete external OAuth2 client
      operationId: organisationDeleteExternalOAuth2Client
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted

  /config/organisation/oauth2-clients-external/:
    get:
      tags:
        - organisation
      summary: List external OAuth2 clients
      operationId: organisationListExternalOAuth2Clients
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisationOAuth2Client:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganisationOAuth2Client"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  # ==================== B2B CONNECTION ENDPOINTS ====================
  /config/organisation/b2b-connection/{id}/:
    get:
      tags:
        - organisation
      summary: Read B2B connection
      operationId: organisationReadB2BConnection
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Connection details
          content:
            application/json:
              schema:
                type: object
                properties:
                  b2bConnection:
                    $ref: "#/components/schemas/B2BConnection"

  /config/organisation/b2b-connections/:
    get:
      tags:
        - organisation
      summary: List B2B connections
      operationId: organisationListB2BConnections
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  b2bConnection:
                    type: array
                    items:
                      $ref: "#/components/schemas/B2BConnection"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  # ==================== SIGNED AGREEMENT ENDPOINTS ====================
  /config/organisation/data-disclosure-agreement/{dataDisclosureAgreementId}/:
    post:
      tags:
        - organisation
      summary: Sign DDA with business wallet
      operationId: organisationSignDDA
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Verification request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  verificationRequest:
                    type: object
                  status:
                    type: string
                    enum:
                      - sign
                      - unsign

  /config/organisation/data-disclosure-agreement/{dataDisclosureAgreementId}/status/:
    get:
      tags:
        - organisation
      summary: Get DDA signing status
      operationId: organisationGetDDASigningStatus
      security:
        - BearerAuth: []
      parameters:
        - name: dataDisclosureAgreementId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - sign
                      - unsign

  /config/organisation/data-disclosure-agreement-record/{id}/:
    get:
      tags:
        - organisation
      summary: Read signed agreement record
      operationId: organisationReadSignedAgreement
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Record details
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataDisclosureAgreementRecord:
                    $ref: "#/components/schemas/DataDisclosureAgreementRecord"

    delete:
      tags:
        - organisation
      summary: Delete signed agreement record
      operationId: organisationDeleteSignedAgreement
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Deleted

  /config/organisation/data-disclosure-agreement-records/:
    get:
      tags:
        - organisation
      summary: List signed agreement records
      operationId: organisationListSignedAgreements
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of records
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataDisclosureAgreementRecord:
                    type: array
                    items:
                      $ref: "#/components/schemas/DataDisclosureAgreementRecord"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  # ==================== SERVICE ENDPOINTS ====================
  /service/data-sources/:
    get:
      tags:
        - service
      summary: List data sources
      operationId: serviceListDataSources
      security: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: dataSourceId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of data sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataSources:
                    type: array
                    items:
                      type: object
                      properties:
                        dataDisclosureAgreements:
                          type: array
                          items:
                            type: object
                        api:
                          type: array
                          items:
                            type: string
                        dataSource:
                          $ref: "#/components/schemas/Organisation"
                        verification:
                          $ref: "#/components/schemas/Verification"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  /service/data-source/{dataSourceId}/coverimage/:
    get:
      tags:
        - service
      summary: Get data source cover image
      operationId: serviceGetDataSourceCoverImage
      security: []
      parameters:
        - name: dataSourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary

  /service/data-source/{dataSourceId}/logoimage/:
    get:
      tags:
        - service
      summary: Get data source logo image
      operationId: serviceGetDataSourceLogoImage
      security: []
      parameters:
        - name: dataSourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary

  /service/organisation/:
    get:
      tags:
        - service
      summary: List organisations
      operationId: serviceListOrganisations
      security: []
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: organisationId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: List of organisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  organisations:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganisationSummary"
                  pagination:
                    $ref: "#/components/schemas/Pagination"

  /service/organisation/{organisationId}/coverimage/:
    get:
      tags:
        - service
      summary: Get organisation cover image
      operationId: serviceGetOrganisationCoverImage
      security: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary

  /service/organisation/{organisationId}/logoimage/:
    get:
      tags:
        - service
      summary: Get organisation logo image
      operationId: serviceGetOrganisationLogoImage
      security: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Image
          content:
            image/*:
              schema:
                type: string
                format: binary

  /service/search:
    get:
      tags:
        - service
      summary: Search organisations and DDAs
      operationId: serviceSearch
      security: []
      parameters:
        - name: search
          in: query
          required: true
          schema:
            type: string
        - name: searchOrgName
          in: query
          schema:
            type: boolean
            default: true
        - name: searchDdaPurpose
          in: query
          schema:
            type: boolean
            default: true
        - name: searchDdaDescription
          in: query
          schema:
            type: boolean
            default: true
        - name: searchDataset
          in: query
          schema:
            type: boolean
            default: true
        - name: searchTags
          in: query
          schema:
            type: boolean
            default: true
        - name: sortBy
          in: query
          schema:
            type: string
            enum:
              - relevance
              - orgName
              - orgCreatedAt
              - ddaCreatedAt
            default: relevance
        - name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Invalid request

  /service/.well-known/data-space-configuration/:
    get:
      tags:
        - service
      summary: Data space configuration discovery
      operationId: serviceDataSpaceConfiguration
      security: []
      responses:
        "200":
          description: Configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataSpaceConfiguration"

  /service/.well-known/oauth-authorization-server/:
    get:
      tags:
        - service
      summary: OAuth authorization server metadata
      operationId: serviceOAuthServerMetadata
      security: []
      responses:
        "200":
          description: Metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthAuthorizationServerMetadata"

  /service/token:
    post:
      tags:
        - service
      summary: OAuth2 token endpoint
      description: Get access token using client credentials grant
      operationId: serviceGetToken
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2TokenResponse"
        "400":
          description: Invalid grant type
        "401":
          description: Invalid client credentials

  /service/notification:
    post:
      tags:
        - service
      summary: Receive notifications
      description: Receive DDA template, DDA record, or B2B connection notifications
      operationId: serviceNotification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationPayload"
      responses:
        "200":
          description: Notification processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "404":
          description: Data source not found

  # ==================== WEBHOOK ENDPOINTS ====================
  /webhook/topic/connections/:
    post:
      tags:
        - webhook
      summary: Connection webhook
      description: Receive connection invitation webhook
      operationId: webhookConnections
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                initiator:
                  type: string
                connection_id:
                  type: string
                accept:
                  type: string
                routing_state:
                  type: string
                updated_at:
                  type: string
                state:
                  type: string
                created_at:
                  type: string
                their_did:
                  type: string
                invitation_key:
                  type: string
                invitation_mode:
                  type: string
                my_did:
                  type: string
                their_label:
                  type: string
      responses:
        "200":
          description: OK

  /webhook/topic/present_proof/:
    post:
      tags:
        - webhook
      summary: Present proof webhook
      description: Receive present proof webhook
      operationId: webhookPresentProof
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_agreement_id:
                  type: string
                trace:
                  type: boolean
                presentation_request:
                  type: object
                updated_at:
                  type: string
                created_at:
                  type: string
                initiator:
                  type: string
                auto_present:
                  type: boolean
                state:
                  type: string
                data_agreement_status:
                  type: string
                presentation_exchange_id:
                  type: string
                thread_id:
                  type: string
                connection_id:
                  type: string
                role:
                  type: string
      responses:
        "200":
          description: OK

  /webhook/topic/published_data_disclosure_agreement/:
    post:
      tags:
        - webhook
      summary: Published DDA webhook
      description: Receive published data disclosure agreement webhook
      operationId: webhookPublishedDDA
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_url:
                  type: string
                updated_at:
                  type: string
                created_at:
                  type: string
                industry_sector:
                  type: string
                connection_id:
                  type: string
                template_id:
                  type: string
                dda:
                  type: object
      responses:
        "200":
          description: OK

  /webhook/topic/ows/present_proof/:
    post:
      tags:
        - webhook
      summary: OWS present proof webhook
      description: Receive OWS present proof verification webhook
      operationId: webhookOWSPresentProof
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK

  /webhook/topic/ows/issue_credential/:
    post:
      tags:
        - webhook
      summary: OWS issue credential webhook
      description: Receive OWS credential issuance webhook
      operationId: webhookOWSIssueCredential
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK
