openapi: 3.1.0
info:
  title: DISP API Documentation
  version: 2024.3.1
  description: Combined API documentation for Consent Management (Admin & Individual) and Data Marketplace (Admin & Individual) services.
  contact:
    name: iGrant.io
    email: support@igrant.io
    url: https://igrant.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- description: Demo server
  url: https://demo-api.igrant.io
- description: Staging server
  url: https://staging-api.igrant.io
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token passed with Bearer prefix in Authorization header
paths:
  /config/data-agreement:
    post:
      description: "This endpoint creates a data agreement for an organisation. \nIt also returns the latest revision of the created data agreement.\n"
      operationId: configCreateAgreement
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dataAgreement:
                  allOf:
                  - type: object
                    title: DataAgreement
                    description: 'An agreement contains the specification of a single purpose that can be consented to.  A DataAgreement is universal and can be consented to by *many* individuals through a DataAgreementRecord.

                      '
                    x-not-in-database: false
                    required:
                    - purpose
                    - purposeDescription
                    - controllerUrl
                    - controllerName
                    - policy
                    - lawfulBasis
                    - methodOfUse
                    - active
                    - forgettable
                    - lifecycle
                    properties:
                      policy:
                        $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                        description: 'Policy under which this DataAgreement shall be governed.  When creating a data agreement, the latest policy can be used to fill the default value,  and organisation admin can decide to change it in the data agreement level.

                          '
                      dataAttributes:
                        type: array
                        items:
                          allOf:
                          - $ref: '#/paths/~1config~1data-agreements~1data-attribute~1%7BdataAttributeId%7D/put/responses/200/content/application~1json/schema/properties/dataAttribute'
                          - type: object
                            properties:
                              restrictions:
                                type: array
                                items:
                                  $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement/properties/dataAttributes/items/allOf/1/properties/restrictions/items'
                        description: 'Data attributes contain specifications of exactly what is collected.

                          '
                      purpose:
                        type: string
                        description: Name of purpose
                      purposeDescription:
                        type: string
                        description: Description of purpose
                      lawfulBasis:
                        type: string
                        format: ''
                        example: ''
                        description: Lawful basis of the agreement - consent / legal_obligation / contract / vital_interest / public_task / legitimate_interest
                        enum:
                        - consent
                        - legal_obligation
                        - contract
                        - vital_interest
                        - public_task
                        - legitimate_interest
                      methodOfUse:
                        type: string
                        format: ''
                        example: ''
                        description: Method of use - null / data_source / data_using_service
                        enum:
                        - null
                        - data_source
                        - data_using_service
                      dpiaDate:
                        type: string
                        format: ''
                        example: ''
                        description: The date on which the DPIA report is generated after a DPIA
                      dpiaSummaryUrl:
                        type: string
                        description: The URl providing the DPIA result reports, summary etc that can be verified by any interested parties
                      signature:
                        $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement/properties/signature'
                        x-fk-model: Signature
                        description: 'Signature of authorising party of DataAgreement (Signatures may be chained in the case of multiple signatures)

                          '
                      active:
                        type: boolean
                        format: ''
                        example: ''
                        description: DataAgreement is active and new DataAgreementRecords can be created
                      forgettable:
                        type: boolean
                        format: ''
                        example: ''
                        description: DataAgreementRecord may be deleted when consent is withdrawn, as its existence is not necessary for auditability.
                      compatibleWithVersionId:
                        type: string
                        format: ''
                        x-fk-model: DataAgreement
                        description: 'WIP: This field indicates that Data Agreement Records may be transferred from this  compatible previous revision of the same DataAgreement

                          '
                      dataUsingServices:
                        type: array
                        items:
                        - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement/properties/dataUsingServices/items/0'
                      openApiSpecification:
                        type: object
                        description: This field contains OpenAPI specification document describing the API's endpoints, models, and operations.
                      dataSources:
                        type: array
                        items:
                        - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement/properties/dataSources/items/0'
                  - type: object
                    title: DataAgreementExtras
                    required:
                    - dataExchange
                    properties:
                      dataExchange:
                        type: object
                        description: Data exchange details
                        properties:
                          dataExchangeProfile:
                            type: string
                            description: Data exchange profile
                            enum:
                            - AIP10
                            - OID4VC
                          id:
                            type: string
                            description: Definition id for OID4VC data exchange profile
                          schemaId:
                            type: string
                            description: Schema identifier
                          isExistingSchema:
                            type: boolean
                            description: Is schema existing
                        required:
                        - isExistingSchema
                        - schemaId
                  description: An object of type DataAgreement
              required:
              - dataAgreement
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreement:
                    allOf:
                    - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement'
                    - type: object
                      title: DataAgreementExtras
                      required:
                      - dataExchange
                      properties:
                        dataExchange:
                          type: object
                          description: Data exchange details
                          properties:
                            dataExchangeProfile:
                              type: string
                              description: Data exchange profile
                              enum:
                              - AIP10
                            id:
                              type: string
                              description: Data agreement ID defined in AIP
                            credentialDefinitionId:
                              type: string
                              description: Credential definition identifier
                            schemaId:
                              type: string
                              description: Schema identifier
                            isExistingSchema:
                              type: boolean
                              description: Is schema existing
                            qrId:
                              type: string
                            firebaseDynamicLink:
                              type: string
                            presentationRequest:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Name of the presentation request
                                version:
                                  type: string
                                  description: Version of the presentation request
                                requestedAttributes:
                                  type: object
                                  $ref: '#/paths/~1config~1data-agreement/post/responses/200/content/application~1json/schema/properties/dataAgreement/allOf/1/properties/dataExchange/properties/presentationRequest/components/schemas/requestedAttribute'
                                  description: Map of requested attributes
                              components:
                                schemas:
                                  restriction:
                                    type: object
                                    properties:
                                      schemaId:
                                        type: string
                                        description: Schema identifier
                                      credDefId:
                                        type: string
                                        description: Credential definition identifier
                                  requestedAttribute:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the requested attribute
                                      restrictions:
                                        type: array
                                        items:
                                          $ref: '#/paths/~1config~1data-agreement/post/responses/200/content/application~1json/schema/properties/dataAgreement/allOf/1/properties/dataExchange/properties/presentationRequest/components/schemas/restriction'
                                        description: List of restrictions for the requested attribute
                          required:
                          - isExistingSchema
                          - schemaId
                  revision:
                    $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Create data agreement
      tags:
      - Data Agreement
  /config/data-agreement/{dataAgreementId}:
    get:
      description: 'This endpoint allows the admin to view the latest data agreement defined

        earlier in an organisation. It also returns the latest revision number.

        '
      operationId: configReadAgreement
      parameters:
      - description: Unique ID of an object
        in: path
        name: dataAgreementId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreement:
                    allOf:
                    - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement'
                    - $ref: '#/paths/~1config~1data-agreement/post/responses/200/content/application~1json/schema/properties/dataAgreement/allOf/1'
                  revision:
                    $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read data agreement
      tags:
      - Data Agreement
    put:
      description: This endpoint allows the admin to update the latest data agreement defined earlier in an organisation. It also returns the updated revision number.
      operationId: configUpdateAgreement
      parameters:
      - description: Unique ID of an object
        in: path
        name: dataAgreementId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dataAgreement:
                  allOf:
                  - $ref: '#/paths/~1config~1data-agreement/post/requestBody/content/application~1json/schema/properties/dataAgreement/allOf/0'
                  - $ref: '#/paths/~1config~1data-agreement/post/requestBody/content/application~1json/schema/properties/dataAgreement/allOf/1'
                  description: An object of type DataAgreement
              required:
              - dataAgreement
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreement:
                    allOf:
                    - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement'
                    - $ref: '#/paths/~1config~1data-agreement/post/responses/200/content/application~1json/schema/properties/dataAgreement/allOf/1'
                  revision:
                    $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Update data agreement
      tags:
      - Data Agreement
    delete:
      description: This endpoint allows the admin to delete all revisions of a chosen data agreement defined earlier in an organisation.
      operationId: configDeleteAgreement
      parameters:
      - description: Unique ID of an object
        in: path
        name: dataAgreementId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Delete data agreement
      tags:
      - Data Agreement
  /config/data-agreements:
    get:
      description: This endpoint allows the admin to read all data agreements and their revisions defined earlier in an organisation.
      operationId: configListAgreement
      parameters:
      - $ref: '#/paths/~1audit~1data-agreements/get/parameters/2'
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      - description: Filtering data agreements by draft/completed status
        in: query
        name: lifecycle
        schema:
          type: string
      - description: Data exchange target
        in: query
        name: target
        required: false
        schema:
          type: string
          enum:
          - digital_wallet
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreements:
                    items:
                      allOf:
                      - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement'
                      - $ref: '#/paths/~1config~1data-agreement/post/responses/200/content/application~1json/schema/properties/dataAgreement/allOf/1'
                    type: array
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List all data agreements
      tags:
      - Data Agreement
  /config/data-agreement/{dataAgreementId}/revisions:
    get:
      description: This endpoint lists all revisions of a data agreement defined earlier in an organisation.
      operationId: configListAgreementRevisions
      parameters:
      - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/parameters/0'
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreement:
                    $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement'
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                  revisions:
                    items:
                      $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                    type: array
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List data agreement revisions
      tags:
      - Data Agreement
      x-specification-crudl-model: Revision
      x-specification-pii-or-sensitive: 'False'
      x-specification-scenario: ''
  /config/data-agreement/{dataAgreementId}/data-attributes:
    get:
      description: This endpoint reads all data attrinbutes defined in a data agreement.
      operationId: configListDataAttribute
      parameters:
      - $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/parameters/0'
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAttributes:
                    items:
                      allOf:
                      - $ref: '#/paths/~1config~1data-agreements~1data-attribute~1%7BdataAttributeId%7D/put/responses/200/content/application~1json/schema/properties/dataAttribute'
                      - properties:
                          dataAgreement:
                            $ref: '#/paths/~1config~1data-agreements~1data-attributes/get/responses/200/content/application~1json/schema/properties/dataAttributes/items/allOf/1/properties/dataAgreement'
                        type: object
                    type: array
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read data attributes
      tags:
      - Data Attribute
  /config/data-agreements/data-attribute/{dataAttributeId}:
    put:
      description: This endpoint updates an existing data attribute defined in a data agreement. If updated, the associated data agreement revision is incremented automatically.
      operationId: configUpdateDataAttribute
      parameters:
      - description: Unique ID of an object
        in: path
        name: dataAttributeId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dataAttribute:
                  $ref: '#/paths/~1config~1data-agreements~1data-attribute~1%7BdataAttributeId%7D/put/responses/200/content/application~1json/schema/properties/dataAttribute'
                  description: An object of type DataAttribute
              required:
              - dataAttribute
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAttribute:
                    type: object
                    description: Data attributes contain specifications of exactly what is collected.
                    x-not-in-database: false
                    required:
                    - name
                    - description
                    properties:
                      id:
                        type: string
                        format: ''
                        example: ''
                        description: Data attribute ID
                      name:
                        type: string
                        format: ''
                        example: ''
                        description: Name of the attribute, for instance "name" or "age"
                      description:
                        type: string
                        format: ''
                        example: ''
                        description: Description of the attribute
                      sensitivity:
                        type: boolean
                        format: ''
                        example: ''
                        description: Sensitivity of data attribute
                      category:
                        type: string
                        format: ''
                        example: ''
                        description: Category of data attribute
                      scope:
                        type: string
                        format: ''
                        example: ''
                        description: Scope required for data attribute
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Update data attribute
      tags:
      - Data Attribute
  /config/data-agreements/data-attributes:
    get:
      description: This endpoint reads all data attrinbutes defined in a data agreement with pagination.
      operationId: configListDataAttribute
      parameters:
      - $ref: '#/paths/~1audit~1data-agreements/get/parameters/2'
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      - description: Method of use - null / data_source / data_using_service
        in: query
        name: methodOfUse
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAttributes:
                    items:
                      allOf:
                      - $ref: '#/paths/~1config~1data-agreements~1data-attribute~1%7BdataAttributeId%7D/put/responses/200/content/application~1json/schema/properties/dataAttribute'
                      - properties:
                          dataAgreement:
                            type: object
                            properties:
                              id:
                                type: string
                              purpose:
                                type: string
                        type: object
                    type: array
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List all data attributes
      tags:
      - Data Attribute
  /config/policy:
    post:
      description: This endpoint creates a new data policy that can be reused as global parameter across all newly crearted data agremements.
      operationId: configCreatePolicy
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                policy:
                  $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                  description: An object of type Policy
              required:
              - policy
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  policy:
                    type: object
                    title: Policy
                    description: A policy governs data and DataAgreement in the realm of an organisation that is refered to as "data controller" (GDPR) and owner of referencing Agreements.
                    x-not-in-database: false
                    required:
                    - name
                    - url
                    properties:
                      id:
                        type: string
                        format: ''
                        example: ''
                        description: ''
                      name:
                        type: string
                        format: ''
                        example: ''
                        description: Name of the policy
                      version:
                        type: string
                        format: ''
                        example: ''
                        description: Version of the policy (it can follow the semver format)
                      url:
                        type: string
                        format: ''
                        example: ''
                        description: Permanent URL at which this very version of the Policy can be read, should not be allowed to change over time
                      jurisdiction:
                        type: string
                        format: ''
                        example: ''
                        description: Jurisdiction
                      industrySector:
                        type: string
                        format: ''
                        example: ''
                        description: Industry sector
                      dataRetentionPeriodDays:
                        type: integer
                        format: ''
                        example: ''
                        description: Data retention period in days
                      geographicRestriction:
                        type: string
                        format: ''
                        example: ''
                        description: Geographic restriction
                      storageLocation:
                        type: string
                        format: ''
                        example: ''
                        description: Storage location
                      thirdPartyDataSharing:
                        type: boolean
                        format: ''
                        example: true
                        description: Third party data sharing
                  revision:
                    $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                type: object
          description: A set consisting of the new Policy object created, together with the initial Revision object.
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Create data policy
      tags:
      - Data Policy
  /config/policy/{policyId}:
    get:
      description: This endpoint reads a data policy with the latest revision info.
      operationId: configReadPolicy
      parameters:
      - description: Unique ID of an object
        in: path
        name: policyId
        required: true
        schema:
          type: string
      - description: An object with id revisionId
        in: query
        name: revisionId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                  revision:
                    $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read data policy
      tags:
      - Data Policy
    put:
      description: This endpoint is used to update and existing data policy. It updates the existing and returns the updated version info. Updating a data policy does not affect existing data agreements.
      operationId: configUpdatePolicy
      parameters:
      - description: Unique ID of an object
        in: path
        name: policyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                policy:
                  $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                  description: An object of type Policy
              required:
              - policy
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  policy:
                    $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                  revision:
                    $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Update data policy
      tags:
      - Data Policy
    delete:
      description: This endpoint is used to delete an existing data policy.
      operationId: configDeletePolicy
      parameters:
      - description: Unique ID of an object
        in: path
        name: policyId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                title: Revision
                description: 'A *generic* revision model captures the serialised contents of any schema''s single row. This is then subject to 1) cryptographic signature and 2) auditing.


                  Aside from the "successor" column, a revision should be considered locked.'
                x-not-in-database: false
                required:
                - id
                - schemaName
                - objectId
                - objectData
                - serizalizedSnapshot
                - serializedHash
                - timestamp
                properties:
                  id:
                    type: string
                    format: ''
                    example: ''
                    description: Revision ID
                  schemaName:
                    type: string
                    format: ''
                    example: ''
                    description: Previously "schema" but for technical reasons should be called "schemaName"
                    enum:
                    - dataAgreement
                    - policy
                    - dataAgreementRecord
                  objectId:
                    type: string
                    format: ''
                    example: ''
                    description: The PK of the object that was serialised
                  objectData:
                    type: string
                    format: ''
                    example: ''
                    description: The object that is serialised
                  signedWithoutObjectId:
                    type: boolean
                    format: ''
                    example: ''
                    description: Indicates that objectId was left blank in serizalizedSnapshot when calculating serializedHash. objectId may subsequently be filled in.
                  serizalizedSnapshot:
                    type: string
                    format: ''
                    example: ''
                    description: 'Revisioned data (sed as JSON) as a dict. Apply JSON Canonicalization Scheme as per IETF RFC 8785.  It contains all the fields of the schema except sucessorId, serializedHash, serializedSnapshot.

                      '
                  serializedHash:
                    type: string
                    format: ''
                    example: ''
                    description: Hash of serizalizedSnapshot (SHA-1)
                  timestamp:
                    type: string
                    format: ''
                    example: ''
                    description: Timestamp of when revisioning happened. It should be ISO 8601 UTC date time
                  authorizedByIndividualId:
                    description: Individual ID
                    type: string
                  authorizedByOtherId:
                    type: string
                    format: ''
                    example: ''
                    description: Reference to an admin user that has created this revision
                  successorId:
                    x-fk-model: Revision
                    type: string
                    description: If this revision is no longer the latest revision, refer to its successor
                  predecessorHash:
                    type: string
                    format: ''
                    example: ''
                    description: Tamper-resistent artifact from previous record, copied from serializedHash
                  predecessorSignature:
                    type: string
                    format: ''
                    example: ''
                    description: Tamper-resistent artifact from previous record (we don't know if the previous record was signed or not)
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Delete data policy
      tags:
      - Data Policy
  /config/policies:
    get:
      description: This endpoint reads all data policies defined in the consent building block.
      operationId: configListPolicy
      parameters:
      - description: An object with ID revisionId
        in: query
        name: revisionId
        required: false
        schema:
          type: string
      - description: Requested index for start of resources to be provided in response requested by client
        in: query
        name: offset
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: Number of items returned per page. Requested number of resources to be provided in response requested by client.
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    type: object
                    title: Pagination
                    properties:
                      currentPage:
                        type: integer
                        description: Current page number
                      totalItems:
                        type: integer
                        description: Total number of items available
                      totalPages:
                        type: integer
                        description: Total number of pages based on limit
                      limit:
                        type: integer
                        description: Number of items per page
                      hasPrevious:
                        type: boolean
                        description: Indicates if there's a previous page
                      hasNext:
                        type: boolean
                        description: Indicates if there's a next page
                  policies:
                    items:
                      $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                    type: array
                type: object
          description: A list of Policy objects readable for the current session's credentials.
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List all data policies
      tags:
      - Data Policy
  /config/policy/{policyId}/revisions:
    get:
      description: This endpoint reads all data policy revisions defined in the consent building block.
      operationId: configListPolicyRevisions
      parameters:
      - description: Unique ID of an object
        in: path
        name: policyId
        required: true
        schema:
          type: string
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                  policy:
                    $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                  revisions:
                    items:
                      $ref: '#/paths/~1config~1policy~1%7BpolicyId%7D/delete/responses/200/content/application~1json/schema'
                    type: array
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List data policy revisions
      tags:
      - Data Policy
  /config/individual:
    post:
      description: This endpoint creates an individual for an organisation in the consent building block. This is used to onboard existing or new users.
      operationId: configCreateIndividual
      requestBody:
        content:
          application/json:
            schema:
              properties:
                individual:
                  allOf:
                  - type: object
                    title: Individual
                    description: Shallowly models an Individual which may reference some instance in an external system (registration system, functional ID, foundational ID etc). An Individual instance of this model is not to be mistaken with a unique natural individual. It is up to the system owner to decide if this record permits mapping to a natural individual and/or if a single Individual row can map to several consent agreements.
                    x-not-in-database: false
                    properties:
                      id:
                        type: string
                        format: ''
                        example: ''
                        description: The unique ID of an Individual row.
                      externalId:
                        type: string
                        format: ''
                        example: ''
                        description: Reference to another foundational/functional ID, which is likely PII
                      externalIdType:
                        type: string
                        format: ''
                        example: ''
                        description: External ID type specifier. A string. For instance "email" or "foundational ID". Can be used in later queries.
                      identityProviderId:
                        type: string
                        format: ''
                        example: ''
                        description: This could be an FK, but for now we do not have a mapping of identity providers. IDBB may have more requirements.
                  - type: object
                    title: IndividualExtras
                    required:
                    - name
                    - email
                    - phone
                    properties:
                      name:
                        type: string
                        description: Name of the individual
                      iamId:
                        type: string
                        description: Create a user in keycloak and save the `id` as `iamId`
                      email:
                        type: string
                        description: Email ID
                      phone:
                        type: string
                        description: Phone
                      pushNotificationToken:
                        type: string
                        description: Device token of the individual
                      deviceType:
                        type: string
                        description: Device type(OS) of the individual
                        enum:
                        - android
                        - ios
                      mapperId:
                        type: string
                        description: Defines the mapper id of the individual
                  description: An object of type Individual
              required:
              - individual
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  individual:
                    allOf:
                    - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/0'
                    - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/1'
                    description: An object of type Individual
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Create individual
      tags:
      - Individual
  /config/individual/{individualId}:
    get:
      description: This endpoint is used to read an individual info defined for an organisation in the consent building block.
      operationId: configReadIndividual
      parameters:
      - description: Unique ID of an object
        in: path
        name: individualId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  individual:
                    allOf:
                    - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/0'
                    - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/1'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read individual
      tags:
      - Individual
    put:
      description: This endpoint is used to udpated an individual for an organisation defined in the consent building block.
      operationId: configUpdateIndividual
      parameters:
      - description: Unique ID of an object
        in: path
        name: individualId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                individual:
                  allOf:
                  - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/0'
                  - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/1'
                  description: An object of type Individual
              required:
              - individual
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  individual:
                    allOf:
                    - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/0'
                    - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/1'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Update individual
      tags:
      - Individual
  /config/individuals:
    get:
      description: This endpoint is used to list all individuals in the organisation defined in the consent building block.
      operationId: configListIndividuals
      parameters:
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      - description: Unique ID of an object
        in: query
        name: externalIndividualId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  individuals:
                    items:
                      allOf:
                      - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/0'
                      - $ref: '#/paths/~1config~1individual/post/requestBody/content/application~1json/schema/properties/individual/allOf/1'
                    type: array
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List all individuals
      tags:
      - Individual
  /audit/consent-records:
    get:
      description: This endpoint is used to fetch all consent records with pagination for individuals in an organisation defined in the consent building block.
      operationId: auditDataAgreementRecordsList
      parameters:
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      - description: Unique ID of an object
        in: query
        name: lawfulBasis
        schema:
          type: string
          description: Lawful basis of the agreement - consent / legal_obligation / contract / vital_interest / public_task / legitimate_interest
          enum:
          - consent
          - legal_obligation
          - contract
          - vital_interest
          - public_task
          - legitimate_interest
      - description: ID contains individual ID, data agreement ID or consent record ID
        in: query
        name: id
        schema:
          type: string
      - description: sector of the object
        in: query
        name: sector
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  consentRecords:
                    items:
                      allOf:
                      - $ref: '#/paths/~1audit~1consent-record~1%7BconsentRecordId%7D/get/responses/200/content/application~1json/schema/properties/consentRecord'
                      - type: object
                        properties:
                          timestamp:
                            type: string
                          dataAgreement:
                            type: object
                            properties:
                              version:
                                type: string
                                description: Version of data agreement
                              purpose:
                                type: string
                                description: Name of purpose
                              lawfulBasis:
                                type: string
                                format: ''
                                example: ''
                                description: Lawful basis of the agreement - consent / legal_obligation / contract / vital_interest / public_task / legitimate_interest
                                enum:
                                - consent
                                - legal_obligation
                                - contract
                                - vital_interest
                                - public_task
                                - legitimate_interest
                    type: array
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Fetch all consent records
      tags:
      - Audit
  /audit/consent-record/{consentRecordId}:
    get:
      description: This endpoint is used to get a single consent record by ID in an organisation defined in the consent building block.
      operationId: auditConsentRecordRead
      parameters:
      - description: Unique ID of an object
        in: path
        name: consentRecordId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  consentRecord:
                    type: object
                    title: ConsentRecord
                    description: A consent record expresses consent (as defined in this building block's specification) to a single DataAgreement. There must be a UNIQUE constraint on (data agreement revision, individual)
                    x-not-in-database: false
                    required:
                    - id
                    - agreementRevisionHash
                    - state
                    properties:
                      id:
                        type: string
                        format: ''
                        example: ''
                        description: Objects may be passed back by some API endpoints without an ID (PK), denoting that they are a "draft", i.e. a ConsentRecord that is not yet stored in the database and only exist in transit. Draft ConsentRecords do not have a Revision, but if paired up with a Signature, a valid Revision should be generated.
                      dataAgreementId:
                        type: string
                        x-fk-model: DataAgreement
                        description: The DataAgreement to which consent has been given
                      dataAgreementRevisionId:
                        type: string
                        x-fk-model: Revision
                        description: The Revision of the data agreement which consent has been given to
                      dataAgreementRevisionHash:
                        type: string
                        format: ''
                        example: ''
                        description: Copy of the revision hash. The hash is the included in the signature and ensures against tampering with the original agreement.
                      individualId:
                        type: string
                        x-fk-model: Individual
                        description: The Individual who has signed this consent record
                      optIn:
                        type: boolean
                        format: ''
                        example: ''
                        description: 'True: The individual has positively opted in. False: The individual has explicitly said no (or withdrawn a previous consent).'
                      state:
                        type: string
                        format: ''
                        example: ''
                        description: 'The state field is used to record state changes after-the-fact. It is maintained by the Consent BB itself. Valid states: unsigned/pending more signatures/signed'
                        enum:
                        - unsigned
                        - signed
                      signatureId:
                        type: string
                        x-fk-model: Signature
                        description: 'A signature that hashes all the values of the consent record and has signed it with the key of the Invidiual, making it verifiable and tamper-proof. TBD: Relation to a Signature schema?'
                      sectorPreferences:
                        type: array
                        items:
                          type: object
                          description: specifies the preferred sector details
                          x-not-in-database: false
                          required:
                          - sector
                          - location
                          properties:
                            sector:
                              type: string
                              format: ''
                              example: ''
                              description: Name of the sector
                            optIn:
                              type: boolean
                              description: Defines sector is opted in or not
                            isLastUpdated:
                              type: boolean
                              description: Defines consent record for this sector is last updated
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Get consent record
      tags:
      - Audit
  /audit/data-agreements:
    get:
      description: This endpoint is used to fetch all data agreements defined in the consent building block.
      operationId: auditDataAgreementList
      parameters:
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      - description: An object with ID revisionId
        in: query
        name: revisionId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreements:
                    items:
                      $ref: '#/paths/~1audit~1data-agreement~1%7BdataAgreementId%7D/get/responses/200/content/application~1json/schema/properties/dataAgreement'
                    type: array
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Fetch all data agreements
      tags:
      - Audit
  /audit/data-agreement/{dataAgreementId}:
    get:
      description: This endpoint is used to fetch a single data agreement for audit purposes, e.g. by an external third party.
      operationId: auditReadRecord
      parameters:
      - description: Unique ID of an object
        in: path
        name: dataAgreementId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreement:
                    type: object
                    title: DataAgreement
                    description: 'An agreement contains the specification of a single purpose that can be consented to.  A DataAgreement is universal and can be consented to by *many* individuals through a DataAgreementRecord.

                      '
                    x-not-in-database: false
                    required:
                    - purpose
                    - purposeDescription
                    - controllerUrl
                    - controllerName
                    - policy
                    - lawfulBasis
                    - methodOfUse
                    - active
                    - forgettable
                    - lifecycle
                    properties:
                      id:
                        type: string
                        format: ''
                        example: ''
                        description: ''
                      version:
                        type: string
                        format: ''
                        example: ''
                        description: The version of this specification to which a receipt conforms
                      controllerId:
                        type: string
                        description: ID of the controller
                      controllerUrl:
                        type: string
                        description: URL of data controller (may be omitted if no data involved)
                      controllerName:
                        type: string
                        description: Name of data controller (may be omitted if no data involved)
                      policy:
                        $ref: '#/paths/~1config~1policy/post/responses/200/content/application~1json/schema/properties/policy'
                        description: 'Policy under which this DataAgreement shall be governed.  When creating a data agreement, the latest policy can be used to fill the default value,  and organisation admin can decide to change it in the data agreement level.

                          '
                      dataAttributes:
                        type: array
                        items:
                          allOf:
                          - $ref: '#/paths/~1config~1data-agreements~1data-attribute~1%7BdataAttributeId%7D/put/responses/200/content/application~1json/schema/properties/dataAttribute'
                          - type: object
                            properties:
                              restrictions:
                                type: array
                                items:
                                  type: object
                                  description: List of restrictions
                                  x-not-in-database: false
                                  properties:
                                    credDefId:
                                      type: string
                                      format: ''
                                      example: H3DW1MUWZyBkP5LG4rTYRH:3:CL:80:default
                                      description: Credential definition ID
                                    schemaId:
                                      type: string
                                      format: ''
                                      example: H3DW1MUWZyBkP5LG4rTYRH:2:Certificate Of Registration:6.0.0
                                      description: Schema ID
                        description: 'Data attributes contain specifications of exactly what is collected.

                          '
                      purpose:
                        type: string
                        description: Name of purpose
                      purposeDescription:
                        type: string
                        description: Description of purpose
                      lawfulBasis:
                        type: string
                        format: ''
                        example: ''
                        description: Lawful basis of the agreement - consent / legal_obligation / contract / vital_interest / public_task / legitimate_interest
                        enum:
                        - consent
                        - legal_obligation
                        - contract
                        - vital_interest
                        - public_task
                        - legitimate_interest
                      methodOfUse:
                        type: string
                        format: ''
                        example: ''
                        description: Method of use - null / data_source / data_using_service
                        enum:
                        - null
                        - data_source
                        - data_using_service
                      dpiaDate:
                        type: string
                        format: ''
                        example: ''
                        description: The date on which the DPIA report is generated after a DPIA
                      dpiaSummaryUrl:
                        type: string
                        description: The URl providing the DPIA result reports, summary etc that can be verified by any interested parties
                      signature:
                        x-fk-model: Signature
                        description: 'Signature of authorising party of DataAgreement (Signatures may be chained in the case of multiple signatures)

                          '
                        type: object
                        title: Signature
                        x-not-in-database: false
                        required:
                        - payload
                        - signature
                        - verificationMethod
                        - verificationPayload
                        - verificationPayloadHash
                        - verificationSignedBy
                        - timestamp
                        properties:
                          id:
                            type: string
                            format: ''
                            example: ''
                            description: Objects may be passed back by some API endpoints without an id (PK), denoting that they are a "draft", i.e. a Signature that is not yet stored in the database and only exists in transit.
                          payload:
                            type: string
                            format: ''
                            example: ''
                            description: 'The final payload that is signed, constructed as a JSON serialisation of fields {verificationPayload: ..., verificationPayloadHash: ..., verificationMethod: ..., verificationArtifact: ..., verificationSignedBy: ..., verificationJwsHeader, timestamp: ..., signedWithoutObjectReference: ..., objectType: ..., objectReference: ...}. Serialised as a JSON dict. If the signature is generated before anything is stored in the database (and has a PK), then the objectReference should be omitted from the payload but filled in afterwards.'
                          signature:
                            type: string
                            format: ''
                            example: ''
                            description: Signature of payload hash, the format of the signature should be specified by either verificationMethod or verificationJwsHeader
                          verificationMethod:
                            type: string
                            format: ''
                            example: ''
                            description: 'A well-known string denoting which method is used. Valid values: TBD. This might be expanded with supported verification methods. There may be a minimal set of supported methods necessary.'
                          verificationPayload:
                            type: string
                            format: ''
                            example: ''
                            description: Internally generated serialised version of the data referenced by objectType and objectReference - by extracting and serialising their data as JSON
                          verificationPayloadHash:
                            type: string
                            format: ''
                            example: ''
                            description: Internally generated cryptographic hash of the value to be signed, i.e. the value of verificationPayload
                          verificationArtifact:
                            type: string
                            format: ''
                            example: ''
                            description: A verification artifact in the form of a scanned object, image, signature etc
                          verificationSignedBy:
                            type: string
                            format: ''
                            example: ''
                            description: Because an identifier's information may change over time, there is a need to store that information at the time of signing. In the case of a cryptographic signature, this field should contain some identifier for looking up or verifying the public key of the signing party. In the case of a non-cryptographic signature, this field could contain a natural individual's names, personal number, email addresses - store a snapshot that binds to the signature at the time of signing. In the case of a cryptographic signature, this may be the fingerprint of the individual's public key or in some cases, a token from the user's ID session.
                          verificationSignedAs:
                            type: string
                            format: ''
                            example: ''
                            description: 'DRAFT FIELD: Specifies the relationship between the authorising signature and the invidual which the payload concerns. This is relevant for Consent Records. Possible values: "individual" / "delegate".'
                          verificationJwsHeader:
                            type: string
                            format: ''
                            example: ''
                            description: Alternative to the verificationMethod, verificationHash and verificationSignature, give a JWS serialised object (RFC7515)
                          timestamp:
                            type: string
                            format: ''
                            example: ''
                            description: Timestamp of signature, currently this field isn't part of the payload so it's not tamper-proof
                          signedWithoutObjectReference:
                            type: boolean
                            format: ''
                            example: ''
                            description: Indicates that objectReference was left blank in the serialised version that was signed
                          objectType:
                            type: string
                            format: ''
                            example: ''
                            description: 'Name of the schema model that objectReference points to. Values: "signature" or "revision"'
                            enum:
                            - revision
                            - signature
                          objectReference:
                            type: string
                            format: ''
                            example: ''
                            description: A symmetric relation / back reference to the objectType that was signed. We are currently just modelling signing another signature (a chain) or signing a Revision (which can be a revision of a consent record, an agreement, policy etc).
                      active:
                        type: boolean
                        format: ''
                        example: ''
                        description: DataAgreement is active and new DataAgreementRecords can be created
                      forgettable:
                        type: boolean
                        format: ''
                        example: ''
                        description: DataAgreementRecord may be deleted when consent is withdrawn, as its existence is not necessary for auditability.
                      compatibleWithVersionId:
                        type: string
                        format: ''
                        x-fk-model: DataAgreement
                        description: 'WIP: This field indicates that Data Agreement Records may be transferred from this  compatible previous revision of the same DataAgreement

                          '
                      lifecycle:
                        type: string
                        description: 'WIP: Current Lifecycle state of the DataAgreement.  Lifecycle states are used to manage internal workflows and  should not be assigned semantic meanings for active Data Agreement Records.

                          '
                        enum:
                        - draft
                        - complete
                      dataUsingServices:
                        type: array
                        items:
                        - type: object
                          description: Data using service organisation for the data agreement
                          x-not-in-database: false
                          required:
                          - name
                          - sector
                          - location
                          properties:
                            name:
                              type: string
                              format: ''
                              example: ''
                              description: Name of the data using service organisation
                            sector:
                              type: string
                              format: ''
                              example: ''
                              description: Defines sector of the organisation
                            location:
                              type: string
                              format: ''
                              example: ''
                              description: Defines location of the organisation
                            privacyDashboardUrl:
                              type: string
                              format: ''
                              example: ''
                              description: Defines privacy dashboard url of the organisation
                      openApiSpecification:
                        type: object
                        description: This field contains OpenAPI specification document describing the API's endpoints, models, and operations.
                      dataSources:
                        type: array
                        items:
                        - type: object
                          description: Data source organisation for the data agreement
                          x-not-in-database: false
                          required:
                          - name
                          - sector
                          - location
                          properties:
                            name:
                              type: string
                              format: ''
                              example: ''
                              description: Name of the data source organisation
                            sector:
                              type: string
                              format: ''
                              example: ''
                              description: Defines sector of the organisation
                            location:
                              type: string
                              format: ''
                              example: ''
                              description: Defines location of the organisation
                            privacyDashboardUrl:
                              type: string
                              format: ''
                              example: ''
                              description: Defines privacy dashboard url of the organisation
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Get data agreement
      tags:
      - Audit
  /config/webhook:
    post:
      deprecated: false
      description: This endpoint is used to create a webhook to trigger events to an external IT system.
      operationId: configCreateWebhook
      requestBody:
        content:
          application/json:
            schema:
              properties:
                webhook:
                  required:
                  - payloadUrl
                  - contentType
                  - subscribedEvents
                  - disabled
                  - secretKey
                  - skipSslVerification
                  - timestamp
                  type: object
                  title: Webhook
                  properties:
                    payloadUrl:
                      type: string
                      description: Webhook payload Url
                    contentType:
                      type: string
                      description: Webhook payload content type
                      enum:
                      - application/json
                      - application/x-www-form-urlencoded
                    subscribedEvents:
                      type: object
                      title: subscribedEvents
                      properties:
                        consentManagementWebhook:
                          type: array
                          items:
                            type: string
                            description: Subscribed event
                            enum:
                            - data.update.initiated
                            - data.update.cancelled
                            - consent.allowed
                            - consent.disallowed
                            - consent.auto_expiry
                            - org.unsubscribed
                            - data.delete.initiated
                            - data.download.initiated
                            - data.delete.cancelled
                            - data.download.cancelled
                            - org.subscribed
                        digitalWalletWebhook:
                          type: array
                          items:
                            type: string
                            description: Subscribed event
                            enum:
                            - digitalwallet.connection.init
                            - digitalwallet.connection.invitation
                            - digitalwallet.connection.request
                            - digitalwallet.connection.response
                            - digitalwallet.connection.active
                            - digitalwallet.connection.error
                            - digitalwallet.connection.inactive
                            - digitalwallet.connection.delete
                            - digitalwallet.credential.proposal_sent
                            - digitalwallet.credential.proposal_received
                            - digitalwallet.credential.offer_sent
                            - digitalwallet.credential.offer_received
                            - digitalwallet.credential.request_sent
                            - digitalwallet.credential.request_received
                            - digitalwallet.credential.credential_issued
                            - digitalwallet.credential.credential_received
                            - digitalwallet.credential.credential_acked
                            - digitalwallet.presentation.proposal_sent
                            - digitalwallet.presentation.proposal_received
                            - digitalwallet.presentation.request_sent
                            - digitalwallet.presentation.request_received
                            - digitalwallet.presentation.presentation_sent
                            - digitalwallet.presentation.presentation_received
                            - digitalwallet.presentation.verified
                            - digitalwallet.presentation.presentation_acked
                            - openid.credential.offer_sent
                            - openid.credential.offer_received
                            - openid.credential.credential_issued
                            - openid.credential.credential_acked
                            - openid.credential.credential_pending
                            - openid.presentation.request_sent
                            - openid.presentation.request_sent.v3
                            - openid.presentation.request_received
                            - openid.presentation.request_received.v3
                            - openid.presentation.presentation_acked
                            - openid.presentation.presentation_acked.v3
                            - openid.presentation.presentation_pending
                            - openid.presentation.presentation_pending.v3
                        dataMarketplaceWebhook:
                          type: array
                          items:
                            type: string
                            description: Subscribed event
                            enum:
                            - datamarketplace.data_disclosure_agreement_record
                    disabled:
                      type: boolean
                      description: Is webhook disabled or not
                    secretKey:
                      type: string
                      description: Secret key for checking authenticity of the source
                    skipSslVerification:
                      type: boolean
                      description: Skip SSL verification for webhook Url
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    required:
                    - payloadUrl
                    - contentType
                    - subscribedEvents
                    - disabled
                    - secretKey
                    - skipSslVerification
                    - timestamp
                    type: object
                    title: Webhook
                    properties:
                      id:
                        type: string
                        description: Webhook ID
                      orgId:
                        type: string
                        description: Organisation ID
                      payloadUrl:
                        type: string
                        description: Webhook payload Url
                      contentType:
                        type: string
                        description: Webhook payload content type
                        enum:
                        - application/json
                        - application/x-www-form-urlencoded
                      subscribedEvents:
                        $ref: '#/paths/~1config~1webhook/post/requestBody/content/application~1json/schema/properties/webhook/properties/subscribedEvents'
                      disabled:
                        type: boolean
                        description: Is webhook disabled or not
                      secretKey:
                        type: string
                        description: Secret key for checking authenticity of the source
                      skipSslVerification:
                        type: boolean
                        description: Skip SSL verification for webhook Url
                      timestamp:
                        type: string
                        description: Creation timestamp
                type: object
          description: Created
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Create webhook
      tags:
      - Webhook
  /config/webhook/{webhookId}:
    get:
      deprecated: false
      description: This endpoint is used to read a webhook by its ID.
      operationId: configReadWebhook
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    $ref: '#/paths/~1config~1webhook/post/responses/201/content/application~1json/schema/properties/webhook'
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read webhook
      tags:
      - Webhook
    put:
      deprecated: false
      description: This endpoint is used to update an existing webhook to trigger events to an external IT system.
      operationId: configUpdateWebhook
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                webhook:
                  $ref: '#/paths/~1config~1webhook/post/requestBody/content/application~1json/schema/properties/webhook'
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    $ref: '#/paths/~1config~1webhook/post/responses/201/content/application~1json/schema/properties/webhook'
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Update webhook
      tags:
      - Webhook
    delete:
      deprecated: false
      description: This endpoint is used to delete an existing webhook that was defined to trigger events to an external IT system.
      operationId: configDeleteWebhook
      parameters:
      - in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    $ref: '#/paths/~1config~1webhook/post/responses/201/content/application~1json/schema/properties/webhook'
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Delete webhook
      tags:
      - Webhook
  /config/webhooks:
    get:
      deprecated: false
      description: This endpoint is used to get all webhooks that was defined to trigger events to an external IT system.
      operationId: configListWebhooks
      parameters:
      - $ref: '#/paths/~1config~1policies/get/parameters/1'
      - $ref: '#/paths/~1config~1policies/get/parameters/2'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/paths/~1config~1policies/get/responses/200/content/application~1json/schema/properties/pagination'
                  webhooks:
                    items:
                      description: Webhook
                      oneOf:
                      - $ref: '#/paths/~1config~1webhook/post/responses/201/content/application~1json/schema/properties/webhook'
                    type: array
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List all webhooks
      tags:
      - Webhook
  /config/webhooks/event-types:
    get:
      deprecated: false
      description: This endpoint is used to list all webhook event types.
      operationId: configReadWebhookEventTypes
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  consentManagementWebhookEventTypes:
                    items:
                      type: string
                      title: consentManagementWebhookEventTypes
                      enum:
                      - consent.allowed
                      - consent.auto_expiry
                      - data.delete.initiated
                      - data.update.initiated
                      - data.download.cancelled
                      - data.update.cancelled
                      - data.download.initiated
                      - data.delete.cancelled
                      - consent.disallowed
                    type: array
                  digitalWalletWebhookEventTypes:
                    items:
                      type: string
                      title: digitalWalletWebhookEventTypes
                      enum:
                      - digitalwallet.connection.init
                      - digitalwallet.connection.invitation
                      - digitalwallet.connection.request
                      - digitalwallet.connection.response
                      - digitalwallet.connection.active
                      - digitalwallet.connection.error
                      - digitalwallet.connection.inactive
                      - digitalwallet.connection.delete
                      - digitalwallet.credential.proposal_sent
                      - digitalwallet.credential.proposal_received
                      - digitalwallet.credential.offer_sent
                      - digitalwallet.credential.offer_received
                      - digitalwallet.credential.request_sent
                      - digitalwallet.credential.request_received
                      - digitalwallet.credential.credential_issued
                      - digitalwallet.credential.credential_received
                      - digitalwallet.credential.credential_acked
                      - digitalwallet.presentation.proposal_sent
                      - digitalwallet.presentation.proposal_received
                      - digitalwallet.presentation.request_sent
                      - digitalwallet.presentation.request_received
                      - digitalwallet.presentation.presentation_sent
                      - digitalwallet.presentation.presentation_received
                      - digitalwallet.presentation.verified
                      - digitalwallet.presentation.presentation_acked
                      - openid.credential.offer_sent
                      - openid.credential.offer_received
                      - openid.credential.credential_issued
                      - openid.credential.credential_acked
                      - openid.credential.credential_pending
                      - openid.presentation.request_sent
                      - openid.presentation.request_sent.v3
                      - openid.presentation.request_received
                      - openid.presentation.request_received.v3
                      - openid.presentation.presentation_acked
                      - openid.presentation.presentation_acked.v3
                      - openid.presentation.presentation_pending
                      - openid.presentation.presentation_pending.v3
                    type: array
                  dataMarketplaceWebhookEventTypes:
                    items:
                      type: string
                      title: dataMarketplaceWebhookEventTypes
                      enum:
                      - datamarketplace.data_disclosure_agreement_record
                    type: array
                required:
                - consentManagementWebhookEventTypes
                - digitalWalletWebhookEventTypes
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read webhook event types
      tags:
      - Webhook
  /config/webhooks/payload/content-types:
    get:
      deprecated: false
      description: This endpoint is used to get webhook content types.
      operationId: getWebhookPayloadContentTypes.yaml
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  ContentTypes:
                    items:
                      enum:
                      - application/json
                      - application/x-www-form-urlencoded
                      type: string
                    type: array
                required:
                - ContentTypes
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: List all webhook content types
      tags:
      - Webhook
  /service/organisation/coverimage:
    get:
      deprecated: false
      description: This endpoint is used to retrieve the existing cover image for the organisation. The cover image is used to display in the privacy dashboard.
      operationId: serviceReadOrganisationCoverImage
      responses:
        '200':
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read organisation cover image
      tags:
      - Organisation
  /service/organisation/logoimage:
    get:
      deprecated: false
      description: Read organisation logo image This endpoint is used to retrieve the existing logo image for the organisation. The logo image is used to display in the privacy dashboard as well in data sharing UIs.
      operationId: serviceReadOrganisationLogoImage
      responses:
        '200':
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read organisation logo image
      tags:
      - Organisation
  /service/organisation:
    get:
      deprecated: false
      description: This endpoint is used to read the organisation information as configured by the organisation in the consent building block. This is used, for e.g., in the privacy dashboard.
      operationId: serviceReadOrganisation
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  organisation:
                    items:
                      allOf:
                      - required:
                        - name
                        - location
                        - description
                        - policyUrl
                        type: object
                        properties:
                          id:
                            type: string
                            description: Organisation ID
                          name:
                            type: string
                            description: Name of the organisation
                          description:
                            type: string
                            description: Overview for the organisation
                          sector:
                            type: string
                            description: Sector
                          location:
                            type: string
                            description: Location
                          policyUrl:
                            type: string
                            description: Policy Url
                      - type: object
                        title: OrganisationExtras
                        properties:
                          coverImageId:
                            type: string
                            description: Cover image ID
                          coverImageUrl:
                            type: string
                            description: Cover image url
                          logoImageId:
                            type: string
                            description: Logo image ID
                          logoImageUrl:
                            type: string
                            description: Logo image url
                required:
                - organisation
                type: object
          description: OK
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read organisation
      tags:
      - Organisation
  /service/image/{imageId}:
    get:
      deprecated: false
      description: This endpoint is used to read an organisation image as defined in the consent building block.
      operationId: serviceReadOrganisationImage
      responses:
        '200':
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read organisation image
      tags:
      - Organisation
  /service/idp/open-id:
    get:
      description: This endpoint is used to read the IdP details configured by the organisation in the consent building block.
      operationId: serviceReadIdp
      parameters:
      - description: Unique ID of an object
        in: path
        name: idpId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  idp:
                    type: object
                    x-not-in-database: false
                    required:
                    - id
                    - logoutUrl
                    - clientId
                    properties:
                      id:
                        type: string
                        format: ''
                        example: ''
                        description: IDP ID
                      logoutUrl:
                        type: string
                        description: Logout Url
                      clientId:
                        type: string
                        description: Client ID
                type: object
          description: ''
          headers: {}
        '400':
          description: bad input parameter
          headers: {}
      security:
      - BearerAuth: []
      - ApiKey: []
      summary: Read IdP details
      tags:
      - Identity Provider
  /service/data-agreements:
    get:
      description: This endpoint is used to list all active data agreements by the organisation in consent building block. The results are returned with pagination.
      operationId: serviceAgreementList
      parameters:
      - description: An object with ID revisionId
        in: query
        name: revisionId
        required: false
        schema:
          type: string
      - $ref: '#/paths/~1service~1individuals/get/parameters/0'
      - $ref: '#/paths/~1service~1individuals/get/parameters/1'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  dataAgreements:
                    items:
                      type: object
                      title: DataAgreement
                      description: 'An agreement contains the specification of a single purpose that can be consented to.  A DataAgreement is universal and can be consented to by *many* individuals through a DataAgreementRecord.

                        '
                      x-not-in-database: false
                      required:
                      - purpose
[...]
